<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>

<form method="post" action="">{% csrf_token %}
{{form.name.label}}{{form.name}}
<table id='b'>
{{formset.management_form}}
{% for f in formset.forms %}
{{f}}
{% endfor %}
</table>

<input type="button" id="one_more" value="Add Another">
<input type="submit" value="Submit" name="save" class="button" />
</form>
{{formset.total_form_count}}
<script>
  $(document).ready(function(){
      $('#one_more').click(function(){
          var v = +$('#id_class_set-TOTAL_FORMS').val();
          var extras = [];
          extras.push('<tr><th><label for="id_clas_set-',v,'-name">Class Name:</label></th><td><input id="id_class_set-',v,'-name" type="text" maxlength="30" name="class_set-',v,'-name"><input id="id_class_set-',v,'-application" type="hidden" value="',v,' name="class_set-',v,'-application"><input id="id_class_set-',v,'-id" type="hidden" name="class_set-',v,'-id"></td></tr>')
          $('#id_class_set-TOTAL_FORMS').val(+v+1);
          $('tbody tr:last').after(extras.join(''));
      });
    });
</script>
