{% extends "base.html" %}
{% load scaffold_tags %}

{% block top_left_content %}
<div class="back_link">PHASE II</div>
{% endblock %}

{% block left_content %}
   {% include "application/includes/main_left_content.html" %}
{% endblock %}

{% block title%}
    <div class="page_title">scaffolding<span>|Database</span></div>
{% endblock%}


{% block content %}
<form method="post"  enctype="multipart/form-data" action="">{% csrf_token %}
<fieldset style="width:575px; padding:13px 10px 15px 15px;">
<table>
{% if db_form.db_name.errors %}<tr><th></th><td>{{db_form.db_name.errors}}</td></tr>{% endif %}
<tr><th>{{db_form.db_name.label_tag}}:</th><td>{{db_form.db_name}}</td></tr>
<tr style="background-color:#FFF"><th></th><td>--- OR ---</td></tr>

{% if db_form.db_location.errors %}<tr><th></th><td>{{db_form.db_location.errors}}</td></tr>{% endif %}
    <tr><th>{{db_form.db_location.label_tag}}: </th><td>{{db_form.db_location}}</td></tr>
{% if db_form.db.errors %}<tr><th></th><td>{{db_form.db.errors}}</td></tr>{% endif %}
    <tr><th>{{db_form.db.label_tag}}: </th><td>{{db_form.db}}</td></tr>

</table>
</fieldset>
<input type="submit" value="Submit" name="save" class="button" />
</form>
{% endblock %}
