{% extends "base.html" %}

{% block title%}
    <div class="page_title">scaffolding<span>|CRUD Made Eazy</span></div>
{% endblock%}

{% block top_left_content %}
    <div style="margin-top:30px;text-align:center;">
        Made by: Leo Wang
        Version 1.0
    </div>
{% endblock %}
{% block left_content %}
   {% include "application/includes/main_left_content.html" %}
{% endblock %}
{% block content %}
    <div class="section">
        <div class="content_title">Introduction</div>
        <p class="description">Hello</p>
    </div>

{% endblock %}

