{% extends "base.html" %}

{% block title %}
<div class="page_title">scaffold review<span>|{{app.name}}</span></div>
{% endblock %}

{% block top_left_content %}
    <div class="back_link"><a href="{{app.run.get_absolute_url}}applications">back to applications listing</a></div>
{% endblock %}

{% block left_content %}
        {% include "application/includes/review_left_content.html" %}
{% endblock %}

{% block content %}
<div class="title">The following will be created:</div>
<div style="margin-left:50px;">
    <div class="section">
        <div class="content_title"><span>Application:<span></div>
        <span class="app_title">{{app.name}}</span>
    </div>

    {% if app.class_set.all %}
        <div class="section">
            <div class="content_title">Classes:</div>
            {% for c in app.class_set.all %}
              <div class="review_class_section">
                <span class="class_title">{{c.name}}</span>
                {% if c.field_set.all %}
                <div class="review_section">
                    File(s) that will be created:
                    <ul>
                        <li >models.py</li>
                        {% if c.create_view %}<li>views.py</li>{% endif %}
                        {% if c.create_urls %}<li>urls.py</li>{% endif %}
                        {% if c.create_forms %}<li>forms.py</li>{% endif %}
                        {% if c.create_templates %}<li>templates</li>{% endif %}
                        {% if c.create_admin %}<li>admin.py</li>{% endif %}
                    </ul>
                </div>
                {% endif %}
                {% if c.field_set.all %}
                <div class="review_section">
                    Fields:
                    <ul>
                        {% for f in c.field_set.all %}
                            <li>{{f.name}} - {{f.get_type_display}}
                                {{f.get_fk}}
                                {% if f.get_options %}
                                    <ul>
                                    Options:
                                        {% for opt in f.get_options %}
                                        <li>{{opt}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if c.extras %}
                <div class="review_section">
                Extras:
                    <pre>{{c.extras}}</pre>
                </div>
                {% endif %}
              </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<form method="post" action="{{app.get_absolute_url}}process/"0>{% csrf_token %}
<div style="margin-left:20px;">
    <input type="submit" value="Create" name="create" class="button" />
    <input type="submit" value="Cancel" name="cancel" class="button" />
</div>
</form>
{% endblock %}
