{% extends "base.html" %}
{% load scaffold_tags %}

{% block title %}<div class="page_title">delete<span>|{{app.name}}</span></div>{% endblock %}

{% block top_left_content %}
    <div class="back_link"><a href="/applications">back to applications listing</a></div>
{% endblock %}

{% block left_content %}
    {% include "application/includes/edit_left_content.html" %}

{% endblock %}


{% block content %}
    <form method="post" action="">{% csrf_token %}
    <fieldset>
    <h2>Are you sure you want to delete the <a href="{{app.get_absolute_url}}">{{app.name.title}}</a> app?</h2>
    </fieldset>
        <input type="submit" value="Delete" name="delete" class="button"/>
        <input type="submit" value="Cancel" name="cancel" class="button"/>
    </form>
{% endblock %}
