{% extends "base.html" %}
{% load scaffold_tags %}
{% block top_left_content %}
    <div class="back_link"><a href="{{app.get_absolute_url}}">back to application</a></div>
{% endblock %}
{% block title %}<div class="page_title">scaffold class<span>|{{clas.name}}</span></div>{% endblock %}

{% block left_content %}
    {% include "application/includes/left_content.html" %}
{% endblock %} 

{% block content %}

    {% if clas.field_set.all %}
        <div class="content_title">Fields</div>
        {% for f in clas.field_set.all %}
            <div class="field">
                <div><span class="field_name">{{f.name}}</span> - {{f.get_type_display}} - {{f.get_status_display}}</div>

                {% if f.get_options %}
                    <div class="field_options">Options:</div>
                    <div class="field_option_list">
                            <ul>
                                {% for option in f.get_options %}
                                    <li>{{option}}</li>
                                {% endfor %}
                            </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="content_title">Current class does not have any fields.</div>
    {% endif %}
    {% if clas.extras %}
    <div class="content_title">Extras</div>
               <pre>{{clas.extras}}</pre>
    {% endif %}
<div style="margin-top:50px; margin-left:20px;">
<a class="button" href="{{clas.get_absolute_url}}edit">Edit</a> <a class="button" href="{{clas.get_absolute_url}}delete">Delete</a>
</div>
{% endblock %}

