{% load scaffold_tags %} 

   {% if app.name %}
        <h3>Edit:</h3>

        <ul>
            <li class="app_title"><a {% if path|app_edit_matches:app %}class="active"{% endif %} href="{{app.get_absolute_url}}edit/">{{app.name|truncate_chars:8}}</a></li>
        {% for c in app.class_set.all %}
            <li class="class_title"><a {% if path|class_edit_matches:c %}class="active"{% endif %} href="{{c.get_edit_absolute_url}}">{{c.name|truncate_chars:11}}</a></li>
        {% endfor %}
        </ul>

        <h3 style="margin:30px 0px 30px 15px;"><a style="padding:5px 20px;" class="button {% if clas %}{% if path|matches:'^/scaffold/\d+/applications/[a-zA-Z]+([\-_][a-zA-Z]+)*/classes/[a-zA-Z]+([\-_][a-zA-Z]+)*/delete/$' %}active{% endif %}" href="{{clas.get_absolute_url}}{% else %}{% if path|matches:'^/scaffold/\d+/applications/[a-zA-Z]+([\-_][a-zA-Z]+)*/delete/$' %}active{% endif %}" href="{{app.get_absolute_url}}{% endif %}delete/">Delete</a></h3>


        <div style="margin-top:20px;">
        <hr style="margin-left:6px; margin-bottom:20px; width:150px;"/>
        <h3>Other Apps:</h3>

        {% for a in app.get_other_apps %}
        <ul>
            <li class="app_title"><a href="{{a.get_absolute_url}}edit/">{{a.name|truncate_chars:8}}</a></li>
            {% for c in a.class_set.all %}
                <li class="class_title"><a href="{{c.get_edit_absolute_url}}">{{c.name|truncate_chars:11}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
        </div>
        
        <div style="margin-top:20px;">
        <hr style="margin-left:6px; margin-bottom:20px; width:150px;"/>
        <a style="margin:8px;" href="{{run.get_absolute_url}}applications/new/">Add New Application</a>
        </div>
    {% endif %}

        

