{% extends "base.html" %}

{% block title%}
    <div class="page_title">scaffolding<span>|Current Projects</span></div>
{% endblock%}

{% block top_left_content %}
    <div style="margin-top:30px;text-align:center;">
        Made by: Leo Wang
        Version 1.0
    </div>
{% endblock %}
{% block left_content %}
   {% include "application/includes/main_left_content.html" %}
{% endblock %}
{% block content %}
    <div class="section">
        <table border="1">

            <tr style="background-color:#FFF"><th style="padding:10px 30px; text-align:center;">Scaffold Project ID</th><th style="padding:10px 30px; text-align:center;" >Created Date</th></tr>

            {% for run in runs %}
                <tr style="background-color:#FFF;"><td style="padding:10px 30px; text-align:center;"><a href="{{run.get_absolute_url}}">{{run.id}}</a></td><td style="padding:10px 30px; text-align:center;"><a href="{{run.get_absolute_url}}">{{run.created}}</a></td></tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}

